<% provide(:title, @group.name) %>

<h1>
  <%= @group.name %>
</h1>
<%= imageUser @group %>

<h2>描画</h2>
<p>
  <%= @group.description %>
<p>
<h2>連絡先</h2>
<p>
  <%= @group.contact %>
<h2>場所</h2>
<p>
  <%= @group.location %>
</p>
